body
{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100vh;
    color: #374760;
}

/**
* Header
 */

nav
{
    font-size: 0.875em;
    background-color: white;
}

.nav-link
{
    font-weight: 500;
    color: #374760;
}

.navbar-toggler-icon
{
    background-image: url("images/navbar-toggler-icon.svg");
}

.bubble-bg
{
    background-image: url("images/bubble-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fmarge
{
    margin-top: 165px;
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

h1
{
    font-size: 1.563em;
    font-weight: 500;
}


/**
* Parallax
 */

.lazy
{
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.lazy.loaded
{
    opacity: 1;
}

.scroll-parallax
{
    will-change: transform;
}

/**
* Content
 */

/*.container*/
/*{*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
/*}*/

.colored-text
{
    color: #008CCE;
    white-space: pre-line;
}

.btn
{
    /*text-align: center;*/
    /*text-decoration: none;*/
    height: 7.25vh;
    width: 13.33vw;
    background-color: #008CCE;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    /*cursor: pointer;*/
}

.row
{
    margin-top: 67px;
}

/*.chevrons*/
/*{*/
    /*!*display: flex;*!*/
    /*!*flex-direction: column;*!*/
    /*cursor: pointer;*/
    /*margin-top: 10vh;*/
/*}*/

/*.box-column*/
/*{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
/*}*/

.subtitle
{
    margin-top: 11.70vh;
    color: #008CCE;
    font-size: 1.500em;
    font-weight: 300;
    text-align: center;
}

.title
{
    margin-top: 2.79vh;
    color: #374760;
    font-size: 2.188em;
    font-weight: 500;
    text-align: center;
}

.introduction
{
    margin-top: 6.23vh;
    color: #636E72;
    font-size: 1.375em;
    width: 72.63vw;
    text-align: center;
    line-height: 29px;
    font-weight: 300;
}

/*.box-row*/
/*{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
/*}*/

.caption
{
    margin-top: 5.69vh;
    color: #636E72;
    width: 41.66vw;
    font-size: 1.375em;
    line-height: 32px;
}

.text
{
    margin-top: 5.69vh;
    color: #636E72;
    font-size: 1.375em;
    line-height: 32px;
}

.schema
{
    margin-top: 12.12vh;
    /*width: 60%;*/
}

.schema img
{
    width: 80%;
}

@keyframes bounce
{
    from
    {
        transform: translate3d(0, 0, 0);
    }
    to
    {
        transform: translate3d(0, 20px, 0);
    }
}

/**
* Footer
 */

footer
{
    /*margin-bottom: 3.34vh;*/
    font-size: 0.688em;
    font-weight: normal;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100vw;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}
